Options +FollowSymlinks
RewriteEngine on

#--------------------------------------------------
# Répertoire : Index
#--------------------------------------------------

RewriteRule index index.php [L,NC]

#--------------------------------------------------
# Répertoire : /Customer/
#--------------------------------------------------

RewriteRule ^Customer/all   Customer/View.php [L,NC]
RewriteRule ^Customer/new Customer/Insert.php [L,NC]

RewriteRule ^Customer/([0-9]+)  Customer/Update.php?id=$1 [L,NC]

#--------------------------------------------------
# Répertoire : /Host/
#--------------------------------------------------

RewriteRule ^Host/all   Host/View.php [L,NC]
RewriteRule ^Host/new Host/Insert.php [L,NC]

RewriteRule ^Host/([0-9]+)  Host/Update.php?id=$1 [L,NC]

#--------------------------------------------------
# Répertoire : /PROJECT/
#--------------------------------------------------

RewriteRule ^Project/all   Project/View.php [L,NC]
RewriteRule ^Project/new Project/Insert.php [L,NC]

RewriteRule ^Project/([0-9]+)  Project/Update.php?id=$1 [L,NC]