Options +FollowSymlinks
RewriteEngine on

#--------------------------------------------------
# Répertoire : Index
#--------------------------------------------------

RewriteRule index index.php [L,NC]
RewriteRule test test.php [L,NC]

#--------------------------------------------------
# Répertoire : /Customer/
#--------------------------------------------------

RewriteRule ^Customer/all   Customers/View.php [L,NC]
RewriteRule ^Customer/new Customers/Insert.php [L,NC]

RewriteRule ^Customer/([0-9]+)  Customers/Update.php?id=$1 [L,NC]